{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
    <section>
        <header>
            <h1>Your Account</h1>
        </header>
    
        <ul>
            <li><a href="{% url "changepassword" %}">Change your password</a> </li>
        </ul>

        You are currently signed up for the following rides:
        <ul>
        {% if not rides %}
            <li>You aren't signed up for any rides yet</li>
        {% endif %}
        {% for ride in rides %}
            <li>{{ ride.ride.name }}</li>
        {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}