{% extends "shared/_base.html" %}

{% load currency %}
{% load staticfiles %}

{% block head %}
<!-- The required Stripe lib -->
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
{% endblock %}

{% block content %}
<div class="content">

    {% if not form.stripe_token.value %}
    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('{{ ride.chapter.get_pub_key }}');

        var stripeResponseHandler = function(status, response) {
          var $form = $('#payment-form');

          if (response.error) {
            // Show the errors on the form
            $form.find('.field-validation-error').text(response.error.message);
            $form.find('button').prop('disabled', false);
          } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.find('#id_stripe_token').val(token);
            // and re-submit
            $form.get(0).submit();
          }
        };

        jQuery(function($) {
          $('#payment-form').submit(function(e) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
          });
        });
    </script>
    {% endif %}

  <section>
    <header>
      <h1>Register for {{ ride.name }}</h1>
    </header>

    {% if signed_up %}

    <p>
        You have already signed up for the {{ ride.name }} ride. No need to pay for it again!
    </p>

    {% elif full %}

    <p>
        Dang... This ride is full! <a href='https://docs.google.com/forms/d/1q1pNgvnQ3Mf9yeecb6A27dcAwL0Ds88Je8xVn5lVBVA/viewform'>Add yourself to the waitlist</a> and we'll let you know if a slot becomes available.
    </p>

    {% else %}

    <ol class="steps">
      <li>
        <span>1</span>
        <span>Join Techbikers</span>
      </li>

      <li class="active">
        <span>2</span>
        <span>Pay the ride fee</span>
      </li>

      <li>
        <span>3</span>
        <span>Registration Complete!</span>
      </li>
    </ol>

    <p class="centerText">
        You are about to sign up for <strong>{{ ride.name }}</strong> at a cost of <strong>{{ ride.currency|upper }} {{ ride.price|floatformat:2 }}</strong>.<br/>
    </p>

    <form method="POST" id="payment-form">
        <span class="field-validation-error centerText">{{ form.non_field_errors }}</span>

        {% csrf_token %}
        <input type="hidden" name="NO_CHROME" value="{{ NO_CHROME }}">

        {{ form.stripe_token }}

        {% if not form.stripe_token.value %}
        <div class="creditCard">

            <div class="infoRow">
                <img src="{% static "img/icons/amex.png" %}" />
                <img src="{% static "img/icons/diners.png" %}" />
                <img src="{% static "img/icons/discover.png" %}" />
                <img src="{% static "img/icons/jcb.png" %}" />
                <img src="{% static "img/icons/mastercard.png" %}" />
                <img src="{% static "img/icons/visa.png" %}" />
            </div>

            <div class="topRow">
                <input class="longNumber" type="text" size="20" data-stripe="number" placeholder="XXXX XXXX XXXX XXXX"/>
                <input class="cvc" type="text" size="20" data-stripe="cvc" placeholder="CVC" />
            </div>

            <div class="bottomRow">
                <input class="nameOnCard" type="text" size="20" data-stripe="name" placeholder="Name on card"/>

                <div class="date">
                    <input class="month" type="text" size="2" data-stripe="exp-month" placeholder="MM"/>
                    <input class="year" type="text" size="4" data-stripe="exp-year" placeholder="YYYY"/>
                </div>
            </div>
        </div>
        {% endif %}

        {% if 'tnc' in form.fields %}
        {% for error in form.tnc.errors %}
        <p class="field-validation-error centerText">{{ error }}</p>
        {% endfor %}
        <p class="centerText">
            {{ form.tnc }}
            <label for="id_tnc">I agree to the <a href="{% url 'sales.views.terms' ride.id %}">Terms and Conditions</a> of this ride.</label>
        </p>
        {% endif %}

        <p class="centerText">
            <input class="btn" type="submit" value="Charge my card {{ ride.currency|upper }} {{ ride.price|floatformat:2 }}" />
        </p>
    </form>

    <p class="centerText">
        <a href="https://www.stripe.com" target="_blank"><img src="{% static 'img/stripe@2x.png' %}" alt="Stripe supports TechBikers"  width="160px"/></a>
        <br/>
        <small>Payments powered by Stripe - the easy way to take card payments online.</small>
    </p>


    {% endif %}
  </section>
</div>

{% endblock %}