{% extends 'shared/_base.html' %}

{% load markup %}

{% block content %}
    <div class="content">
        <section>
            <header>
                <h1>{{ chapter.name }} Chapter</h1>
            </header>
        </section>
    </div>
{% endblock %}