/**
 * components.less
 * Buttons, sliders, all those little things
 */

// Butons!
.btn {
  display: inline-block;
  @include ie7-inline-block();

  padding: 10px 40px;
  margin-bottom: 0; // For input.btn
  border: 3px solid $fontColor;
  @include border-radius(6px);

  color: $fontColor;
  font-weight: bold;
  text-align: center;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  text-decoration: none;

  @include transition(all 50ms linear);


  // Hover/focus state
  &:hover,
  &:focus {
    text-decoration: none;
    background: lighten($fontColor, 10%);
    border-color: lighten($fontColor, 10%);
    color: white;
  }

  // Focus state for keyboard and accessibility
  &:focus {
    // fuk da police
    // also: do this
  }

  // Active state
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    @include translate(0px, 3px);
    @include box-shadow(none);
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    @include opacity(65);
  }
}

// Callouts show things are impotant
// Get some attention!
.callout {
  background: #FDEC18;
  margin: $baseLineHeight 0; padding: $baseLineHeight;
  @include border-radius(4px);

  h1, h2, p {
    text-align: center;
  }
}


/**
 * Registration steps
 */
.steps {
  margin: 2 * $baseLineHeight 0; padding: 0;
  text-align: center;

  li {
    display: inline-block;
    width: 200px;
    color: #aaa;

    span {
      display: block;
      margin: auto;
      text-align: center;

      &:first-child {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 2px solid #aaa;
        @include border-radius(50%);
      }
    }
  }

  li.active {
    color: darken(#74C354, 20%);

    span:first-child {
      color: white;
      background: #74C354;
      border-color: #74C354;
    }
  }


}

// Our credit card form
.creditCard {
  width: 400px;
  margin: $baseLineHeight auto; padding: 20px;
  border: 2px solid $fontColor;
  @include border-radius(4px);

  .infoRow {
    height: 80px;
    text-align: center;

    img {
      width: 60px;
    }
  }

  .topRow {
    @include clearfix();
  }

  .bottomRow {
    margin-top: 40px;
    @include clearfix();
  }

  .longNumber {
    float: left;
    width: 65%;
  }

  .cvc {
    float: right;
    width: 20%;
  }

  .nameOnCard {
    float: left;
    width: 55%;
  }

  .date {
    float: right;
  }

  .month {
    width: 36px;
  }

  .year {
    margin-left: 4px;
    width: 50px;
  }
}
