/**
 * variables.less
 */


// Typography
$fontColor: #333;
$baseFontSize: 18px;
$baseLineHeight: 26px;

$linkColor: #62519A;
$linkColorHover: lighten(#62519A, 10%);

// Layout
$numberOfColumns: 6;
$gridGutter: 40px;
$columnWidth: 100px;
$pageWidth: $columnWidth * $numberOfColumns + ($gridGutter * ($numberOfColumns - 1));